# fish shell universal variable files
fish_variables
fishd.*

# vim/netrw history file
.netrwhist

# zsh
all/zsh/.config/zsh/.zcompdump
all/zsh/.config/zsh/.zhistory
all/zsh/.config/antibody/bundles.sh

# vimplug
all/nvim/.config/nvim/autoload/plug.vim
all/nvim/.config/nvim/plugged

# macOS files
.DS_Store
._*
