# fish shell universal variable files
fishd.*

# vim/netrw history file
.netrwhist

# vimplug
common/nvim/.config/nvim/autoload/plug.vim
common/nvim/.config/nvim/plugged

# vifm state information
common/vifm/.config/vifm/vifminfo

# macOS files
.DS_Store
._*
